.desktop-7-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1440px;
  height: 21px;
}
.sign-out1 {
  position: absolute;
  top: 69px;
  left: 1186px;
  font-size: var(--font-size-3xl);
}
.accessories6,
.books11,
.clothing6,
.scents6 {
  position: absolute;
  top: 69px;
  left: 132px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 97px;
}
.accessories6,
.books11,
.scents6 {
  left: 261px;
  width: 138px;
}
.books11,
.scents6 {
  left: 427px;
  width: 111px;
}
.books11 {
  top: 68px;
  left: 538px;
  width: 72px;
  backdrop-filter: blur(4px);
}
.desktop-7-item {
  position: absolute;
  top: 63px;
  left: 663px;
  border-radius: var(--br-6xs);
  background-color: var(--color-lightgray);
  width: 429px;
  height: 38px;
}
.search-for-products12 {
  position: absolute;
  top: 71px;
  left: 699px;
  font-size: var(--font-size-lg);
  white-space: pre-wrap;
  display: inline-block;
  width: 304px;
  height: 19px;
  mix-blend-mode: overlay;
}
.login7,
.sign-up6 {
  position: absolute;
  font-size: var(--font-size-3xl);
}
.login7 {
  top: 72px;
  left: 1135px;
  white-space: pre-wrap;
}
.sign-up6 {
  top: 73px;
  left: 1237px;
}
.phbag-icon12 {
  position: absolute;
  top: 67px;
  left: 1355px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.whatsapp-image-2024-04-19-at-112 {
  position: absolute;
  top: 40px;
  left: 15px;
  border-radius: var(--br-81xl);
  width: 101px;
  height: 67px;
  object-fit: cover;
}
.magnifying-glass-icon-96x96-1m12 {
  position: absolute;
  top: 72px;
  left: calc(50% - 49px);
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.clothing8 {
  position: absolute;
  top: 126px;
  left: 599px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  width: 243px;
}
.desktop-7-child1,
.desktop-7-child2 {
  position: absolute;
  top: 214px;
  left: 40px;
  width: 640px;
  height: 317px;
}
.desktop-7-child2 {
  top: 1296px;
  left: 405px;
  width: 290px;
  object-fit: cover;
}
.desktop-7-child3,
.desktop-7-child4,
.desktop-7-child5,
.desktop-7-child6 {
  position: absolute;
  top: 1296px;
  left: 46px;
  background-color: var(--color-gainsboro);
  width: 290px;
  height: 317px;
}
.desktop-7-child4,
.desktop-7-child5,
.desktop-7-child6 {
  left: 759px;
}
.desktop-7-child5,
.desktop-7-child6 {
  left: 1104px;
}
.desktop-7-child6 {
  top: 214px;
  left: 746px;
}
.desktop-7-child7,
.desktop-7-child8 {
  position: absolute;
  top: 214px;
  left: 1104px;
  width: 290px;
  height: 317px;
  object-fit: cover;
}
.desktop-7-child8 {
  top: 745px;
  left: 43px;
}
.desktop-7-child10,
.desktop-7-child9 {
  position: absolute;
  top: 745px;
  left: 402px;
  background-color: var(--color-gainsboro);
  width: 290px;
  height: 317px;
}
.desktop-7-child10 {
  left: 749px;
}
.desktop-7-child11,
.vintage-aesthetic-patterned-un-icon {
  position: absolute;
  top: 745px;
  left: 1104px;
  width: 290px;
  height: 317px;
  object-fit: cover;
}
.vintage-aesthetic-patterned-un-icon {
  left: 398px;
  width: 294px;
}
.images-1-icon,
.images-2-icon,
.images-3-icon,
.images-4-icon {
  position: absolute;
  top: 745px;
  left: 749px;
  width: 290px;
  height: 317px;
  object-fit: cover;
}
.images-2-icon,
.images-3-icon,
.images-4-icon {
  top: 1296px;
  left: 43px;
}
.images-3-icon,
.images-4-icon {
  left: 759px;
}
.images-4-icon {
  left: 1104px;
}
.desktop-7-child12,
.desktop-7-child13 {
  position: absolute;
  top: 579px;
  left: 40px;
  background-color: var(--color-gainsboro);
  width: 293px;
  height: 73px;
}
.desktop-7-child13 {
  left: 392px;
  background-color: var(--color-lightgray);
  width: 288px;
}
.desktop-7-child14 {
  position: absolute;
  top: 214px;
  left: 390px;
  width: 290px;
  height: 317px;
  object-fit: cover;
}
.desktop-7-child15,
.desktop-7-child16 {
  position: absolute;
  top: 579px;
  left: 746px;
  background-color: var(--color-gainsboro);
  width: 290px;
  height: 73px;
}
.desktop-7-child16 {
  top: 582px;
  left: 1104px;
}
.desktop-7-child17,
.desktop-7-child18,
.desktop-7-child19 {
  position: absolute;
  top: 579px;
  left: 40px;
  background-color: var(--color-lightgray);
  width: 293px;
  height: 73px;
}
.desktop-7-child18,
.desktop-7-child19 {
  left: 746px;
  width: 290px;
}
.desktop-7-child19 {
  top: 582px;
  left: 1104px;
}
.desktop-7-child20,
.desktop-7-child21,
.desktop-7-child22,
.desktop-7-child23 {
  position: absolute;
  top: 1113px;
  left: 43px;
  background-color: var(--color-lightgray);
  width: 293px;
  height: 73px;
}
.desktop-7-child21,
.desktop-7-child22,
.desktop-7-child23 {
  left: 395px;
  width: 297px;
}
.desktop-7-child22,
.desktop-7-child23 {
  left: 749px;
  width: 290px;
}
.desktop-7-child23 {
  top: 1116px;
  left: 1107px;
}
.desktop-7-child24,
.desktop-7-child25,
.desktop-7-child26,
.desktop-7-child27,
.desktop-7-child28 {
  position: absolute;
  top: 1667px;
  left: 40px;
  background-color: var(--color-lightgray);
  width: 293px;
  height: 73px;
}
.desktop-7-child25,
.desktop-7-child26,
.desktop-7-child27,
.desktop-7-child28 {
  left: 392px;
  width: 303px;
}
.desktop-7-child26,
.desktop-7-child27,
.desktop-7-child28 {
  left: 746px;
}
.desktop-7-child27,
.desktop-7-child28 {
  top: 1670px;
  left: 1104px;
  width: 290px;
}
.desktop-7-child28 {
  top: 1853px;
  left: 0;
  width: 1440px;
  height: 314px;
}
.icon-facebook-v17,
.icon-google8,
.icon-instagram-round6 {
  position: absolute;
  height: 2.12%;
  width: 3.47%;
  top: 89.33%;
  right: 26.11%;
  bottom: 8.55%;
  left: 70.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-facebook-v17,
.icon-google8 {
  height: 2.21%;
  top: 89.24%;
  right: 31.25%;
  left: 65.28%;
}
.icon-facebook-v17 {
  height: 2.08%;
  top: 89.38%;
  right: 20.97%;
  bottom: 8.54%;
  left: 75.56%;
}
.connect-with-us6 {
  margin: 0;
}
.blank-line21 {
  margin: 0;
  color: var(--color-white);
}
.connect-with-us-container6 {
  position: absolute;
  top: 1926px;
  left: 940px;
  display: inline-block;
  width: 358px;
  height: 201px;
}
.desktop-7-child29 {
  position: absolute;
  top: 2167px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1440px;
  height: 55px;
}
.cookie-policy-faq-container6,
.terms-conditions-container6 {
  position: absolute;
  top: 1926px;
  left: 98px;
  letter-spacing: 0.05em;
}
.cookie-policy-faq-container6 {
  left: 548px;
}
.b5edaf950ff4a5be4d33f96e1798f4-icon {
  position: absolute;
  top: 214px;
  left: 746px;
  width: 290px;
  height: 317px;
  object-fit: cover;
}
.rs-1299,
.rs-399,
.rs-599,
.rs-5991,
.rs-649,
.rs-899 {
  position: absolute;
  top: 615px;
  left: 253px;
  font-size: var(--font-size-xl);
}
.rs-1299,
.rs-399,
.rs-5991,
.rs-649,
.rs-899 {
  left: 599px;
}
.rs-399,
.rs-5991,
.rs-649,
.rs-899 {
  top: 618px;
  left: 947px;
}
.rs-399,
.rs-5991,
.rs-899 {
  left: 1301px;
}
.rs-5991,
.rs-899 {
  top: 1155px;
  left: 607px;
}
.rs-899 {
  top: 1156px;
  left: 956px;
}
.rs-1433,
.rs-1599,
.rs-2134,
.rs-2499,
.rs-4339,
.rs-5789 {
  position: absolute;
  top: 1161px;
  left: 1317px;
  font-size: var(--font-size-xl);
}
.rs-1433,
.rs-2134,
.rs-2499,
.rs-4339,
.rs-5789 {
  top: 1708px;
  left: 1285px;
}
.rs-1433,
.rs-2499,
.rs-4339,
.rs-5789 {
  top: 1707px;
  left: 967px;
}
.rs-2499,
.rs-4339,
.rs-5789 {
  left: 615px;
}
.rs-2499,
.rs-5789 {
  left: 250px;
}
.rs-5789 {
  top: 1151px;
  left: 248px;
}
.c5234c9e86a75189fc96a-17005491-icon {
  position: absolute;
  top: 214px;
  left: 40px;
  width: 290px;
  height: 317px;
  object-fit: cover;
}
.apricot,
.armani {
  position: absolute;
  top: 589px;
  left: 55px;
}
.armani {
  left: 434px;
}
.flap,
.fleece,
.majesda,
.nike {
  position: absolute;
  top: 592px;
  left: 776px;
}
.flap,
.majesda,
.nike {
  left: 1132px;
}
.flap,
.majesda {
  top: 1125px;
  left: 56px;
}
.majesda {
  top: 1121px;
  left: 416px;
}
.harlow {
  top: 1118px;
  left: 772px;
}
.apparel,
.harlow,
.rope {
  position: absolute;
}
.rope {
  top: 1121px;
  left: 1150px;
  font-size: 36px;
}
.apparel {
  top: 1670px;
  left: 56px;
}
.brunello,
.dior,
.veneta {
  position: absolute;
  top: 1673px;
  left: 411px;
}
.dior,
.veneta {
  top: 1667px;
  left: 780px;
}
.dior {
  top: 1678px;
  left: 1134px;
}
.desktop-7 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2222px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-arsenal);
}
.login1 {
  position: absolute;
  top: 41px;
  left: 288px;
  font-size: 48px;
  font-family: var(--font-lora);
}
.email-address {
  position: absolute;
  top: 132px;
  left: 59px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 297px;
  height: 55px;
}
.frame-child,
.password {
  position: absolute;
  left: 69px;
}
.frame-child {
  top: 187px;
  border-radius: var(--br-3xs);
  width: 585px;
  height: 63px;
}
.password {
  top: 278px;
  font-size: var(--font-size-21xl);
}
.frame-item {
  position: absolute;
  top: 334px;
  left: 71px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-200);
  width: 585px;
  height: 63px;
}
.frame-inner {
  position: absolute;
  top: 416px;
  left: 80px;
  border-radius: 5px;
  background-color: var(--color-gainsboro);
  width: 25px;
  height: 25px;
}
.remember-me-on {
  position: absolute;
  top: 416px;
  left: 119px;
  font-size: var(--font-size-xl);
}
.line-icon {
  position: absolute;
  top: 474px;
  left: 60px;
  width: 263px;
  height: 2px;
  object-fit: contain;
}
.frame-child1,
.or {
  position: absolute;
  top: 455px;
  left: 353px;
}
.frame-child1 {
  top: 471px;
  left: 397px;
  width: 285.7px;
  height: 11px;
  object-fit: contain;
}
.frame-child2,
.frame-child3 {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-200);
  width: 590px;
  height: 63px;
}
.frame-child2 {
  top: 504.9px;
  left: 65px;
  transform: rotate(-0.2deg);
  transform-origin: 0 0;
}
.frame-child3 {
  top: 605px;
  left: 67px;
}
.continue-with-facebook,
.continue-with-google {
  position: absolute;
  top: 521px;
  left: 148px;
  font-size: var(--font-size-5xl);
}
.continue-with-facebook {
  top: 622px;
}
.email {
  position: absolute;
  top: 201px;
  left: 86px;
  font-family: var(--font-inter);
  mix-blend-mode: overlay;
}
.icon-facebook-v11,
.icon-google1 {
  position: absolute;
  height: 5.24%;
  width: 5.46%;
  top: 69.37%;
  right: 83.88%;
  bottom: 25.4%;
  left: 10.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-facebook-v11 {
  top: 83.4%;
  bottom: 11.36%;
}
.password1 {
  position: absolute;
  top: 348px;
  left: 92px;
  font-weight: 500;
  font-family: var(--font-inter);
  mix-blend-mode: overlay;
}
.login-parent {
  width: 732px;
  position: relative;
  backdrop-filter: blur(20px);
  background-color: var(--color-white);
  border: 4px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 741px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-arsenal);
}
.create-a-new {
  position: absolute;
  top: 55px;
  left: 97px;
  font-weight: 500;
  font-family: var(--font-lora);
}
.frame-child4,
.name {
  position: absolute;
  top: 171px;
  left: 60px;
}
.frame-child4 {
  top: 219px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-200);
  width: 585px;
  height: 63px;
}
.email-address1,
.frame-child5 {
  position: absolute;
  top: 330px;
  left: 60px;
}
.frame-child5 {
  top: 378px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-200);
  width: 585px;
  height: 63px;
}
.email-address2 {
  position: absolute;
  top: 395px;
  left: 79px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  mix-blend-mode: overlay;
}
.password2 {
  position: absolute;
  top: 489px;
  left: 60px;
}
.frame-child6 {
  top: 537px;
  left: 60px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-200);
  width: 585px;
  height: 63px;
}
.frame-child6,
.line-div,
.or1 {
  position: absolute;
}
.line-div {
  top: 653.5px;
  left: 43.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 285px;
  height: 1px;
}
.or1 {
  top: 633px;
  left: 345px;
  font-size: var(--font-size-11xl);
}
.frame-child7 {
  position: absolute;
  top: 652px;
  left: 390px;
  width: 255px;
  height: 2px;
  object-fit: contain;
}
.frame-child8 {
  position: absolute;
  top: 691.9px;
  left: 57px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-200);
  width: 590px;
  height: 63px;
  transform: rotate(-0.2deg);
  transform-origin: 0 0;
}
.continue-with-google1 {
  position: absolute;
  top: 708px;
  left: 140px;
  font-size: var(--font-size-5xl);
}
.icon-google2 {
  position: absolute;
  height: 4.89%;
  width: 5.71%;
  top: 84.7%;
  right: 84.71%;
  bottom: 10.41%;
  left: 9.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.name1,
.password3 {
  position: absolute;
  top: 236px;
  left: 79px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  mix-blend-mode: overlay;
}
.password3 {
  top: 554px;
}
.create-a-new-account-parent {
  width: 700px;
  position: relative;
  background-color: var(--color-white);
  border: 4px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 830px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-arsenal);
}
